security:
    password_hashers:
        Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface: 'auto'
    
    providers:
        app_user_provider:
            entity:
                class: App\Entity\User
                property: email

    firewalls:
        dev:
            pattern: ^/(_profiler|_wdt|assets|build)/
            security: false
        main:
            lazy: true
            provider: app_user_provider
            
            form_login:
                login_path: app_login
                check_path: app_login
                username_parameter: email
                password_parameter: password
                default_target_path: app_dashboard
                enable_csrf: true
                csrf_parameter: _csrf_token
                csrf_token_id: authenticate
            
            logout:
                path: app_logout
                target: app_home

    access_control:
        - { path: ^/dashboard, roles: IS_AUTHENTICATED_FULLY }
        - { path: ^/admin, roles: ROLE_ADMIN }
        - { path: ^/formateur, roles: ROLE_FORMATEUR }
        - { path: ^/directeur, roles: ROLE_DIRECTEUR }
        - { path: ^/apprenant, roles: ROLE_APPRENANT }
        - { path: ^/entreprise, roles: ROLE_ENTREPRISE }

when@test:
    security:
        password_hashers:
            Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface:
                algorithm: auto
                cost: 4
                time_cost: 3
                memory_cost: 10
